* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
body { 
  background: linear-gradient(to right, #004e92, #000428);
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 200px auto;
  padding: 20px;
  color: #02203f;
  line-height: 2rem;
}
