* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
body { 
  background: linear-gradient(to right, #004e92, #000428);
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 200px auto;
  padding: 20px;
  color: white;
  line-height: 2rem;
}


#number {
  height: 40px;
  width: 250px;
  border-radius: 10px;
  padding: 20px;
  border: none;
}

#convert-btn {
  padding: 13px 25px;
  border-radius: 10px;
  color: white;
  background-color: #4facfe;
  border: none;
  outline: none;
}

.control {
  padding: 20px;
  margin: 30px auto;
}

#output {
  color: whitesmoke;
  padding: 10px;
  font-size: larger;
  font-weight: bold;
}
